@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

.container {
    background-color: thistle;
    width: 50%;
    margin-bottom: 10%;
    margin-left: 20%;
    justify-content: center;
}

h1 {
    font-family: 'Poppins',sans-serif;
    margin-top: 10%;
    margin-left: 10%;
}

p {
    font-family: 'Poppins',sans-serif;
    margin-left: 10%;
}

#name, #email, #number {
    display: block;
    width: 30%;
    font-size: 15px;
    line-height: 15px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1vh;
    margin-left: 10%;
    border: none;
    border-bottom: 5px solid rgba(0,0,0,1);
    background-color:turquoise;
    max-width: 100%;
    height: auto;
    padding-left: 10px;
    outline: none;
}

h4 {
    margin-left: 0%;
}

label {
    font-family: 'Poppins',sans-serif;
    margin-left: 10%;
}

#dropdown-label #sex-label {
    margin-left: 0%;
}

.tick {
    font-family: 'Poppins',sans-serif;
    margin-left: 10%;
    max-width: 100%;
    height: auto;
}

textarea {
    margin-left: 10%;
}

#submit {
    margin-left: 10%;
    margin-bottom: 5%;
}

